<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>

        (function($){
            var $form = $('#replyForm');
            $form.on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: 'post',
                    data: $form.serialize(),
                    success: function(response) {
                        // if the response contains any errors, replace the form
                        if ($(response).find('.has-error').length) {
                            $form.replaceWith(response);
                        } else {
                            // in this case we can actually replace the form
                            // with the response as well, unless we want to
                            // show the success message a different way
                        }
                    }
                });
            })
        }(jQuery));

    </script>
    <style>
        body {
            background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/160901155821-chicago-viz-bg-7-super-43.jpg");
            background-size:cover;
        }
        img {
            float: left;
        }
    </style>
    <title>Solactive Social Portal</title>
<div class="navigation">
    <div class="navbar navbar-inverse">
        <a href="/eportal/home" class="navbar-brand">Home</a>
        <a href="/eportal/index" class="navbar-brand">Create</a>
        <a href="/eportal/feed" class="navbar-brand">Feed</a>
    </div>
</div>
</head>
<body>
<div class="container">
    <h4 th:text="${event.title}"></h4>

    <div class="row">
        <div class="col-lg-10">
        <p th:text="${event.description}"></p>
        <!--<div class="col-lg-6" style="background-color:yellow;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-lg-6" style="background-color:pink;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>-->
        </div>
    </div>
    <br><br>
    <form id="userInfo" name="replyForm" th:action="@{/eportal/events/{id}/add}" th:object="${eventReply}" method="post">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Replies</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <br>
            <div>
                <input class="btn btn-primary" align="right" type="submit" value="Submit">
            </div>

        </div>
    </form>
</div>
<div class="align-content-md-around">

</div>

</body>
</html>
