<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>
<body>
</body>

<div class="navigation">
    <div class="navbar navbar-inverse">
        <a href="/eportal/home" class="navbar-brand">Home</a>
        <a href="/eportal/index" class="navbar-brand">Create</a>
        <a href="/eportal/feed" class="navbar-brand">Feed</a>
    </div>
</div>

<html>
<head><title>Home Page</title></head>
<body>
<!--<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>-->
</body>
</html>
<div class="container">
    <div class="list-group" th:each="event : ${events}">
        <a class="list-group-item list-group-item-action active" href="/eportal/events/" th:href="@{/eportal/events/{id}(id=${event.id})}">
        <div class="d-flex w-100 justify-content-between">
            <!--<h5 class="mb-1">${event.get(0)}</h5>-->
            <h5 th:text="${event.title}">Our App</h5> &nbsp;&nbsp;<small>Today</small>
        </div>
        <p class="mb-1" th:text="${event.description}">iphone for sale. just used for 6 months</p>
        <small>Donec id elit non mi porta.</small>
    </a>
</div>
</div>
</html>